<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--  Bootstrap css link  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <title th:text="${title}"></title>
</head>
<body>

<header th:insert="fragments/header.html"></header>
<div class="container my-5" th:each="el : ${news}">
  <h5 class="fs-4 mb-4">Edit news</h5>
  <form th:action="${el.id} + '/edit'" method="post" th:object="">
    <div class="mb-3">
      <label for="title">Enter the title of the news</label>
      <input class="form-control" type="text" id="title" name="title" placeholder="MPT top" required>
    </div>
    <div class="mb-3">
      <label for="author">Enter the author of the news</label>
      <input class="form-control" type="text" id="author" name="author" placeholder="L. A. Sokolova" required>
    </div>
    <div class="mb-3">
      <label for="text">Enter news text</label>
      <textarea class="form-control" id="text" name="text" placeholder="MPT top because" rows="10" required></textarea>
    </div>
    <div class="mb-3">
      <label for="likes">Enter the number of likes for the news</label>
      <input class="form-control" type="number" id="likes" name="likes" placeholder="0" required>
    </div>
    <div class="mb-3">
      <label for="views">Enter the author of the news</label>
      <input class="form-control" type="number" id="views" name="views" placeholder="0" required>
    </div>
    <div class="mb-3">
      <button class="btn btn-outline-success" type="submit">Create news!</button>
      <a class="btn btn-outline-danger" href="/news/">Back</a>
    </div>
  </form>
</div>

<!--  Bootstrap script  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>