<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!--  Bootstrap css link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title th:text="${pageTitle}"></title>
</head>
<html lang="en">
<body>

<header th:insert="fragments/header.html"></header>
<div th:if="${error}">
    <p th:value="${error}" style="color: red"></p>
</div>
<div class="container my-5">
    <form th:object="${user}" th:action="@{/registration}" method="post">
        <div class="mb-3">
            <label for="username">Enter username</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="sevas_top" required>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
        </div>
        <div class="mb-3">
            <label for="name">Enter name</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Larisochka" required>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
        </div>
        <div class="mb-3">
            <label for="gender">Enter gender</label>
            <input class="form-control" id="gender" name="gender" placeholder="ULTRA MEGA ATTACK HELIWOMAN" required>
            <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Error</div>
        </div>
        <div class="mb-3">
            <label for="email">Enter email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="0" required>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
        </div>
        <div class="mb-3">
            <label for="password">Enter password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="cucumber" required>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
        </div>
        <div class="mb-3">
            <label for="age">Enter age</label>
            <input class="form-control" type="number" id="age" name="age" placeholder="0" required>
            <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-success" type="submit">Sign up!</button>
            <a class="btn btn-outline-danger" href="/login">Sign in</a>
        </div>
    </form>
</div>

<!--  Bootstrap script  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
